<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Jessie Lu - Portfolio</title>

<!-- Favicons -->

<link rel="icon" href="/assets/logo.png" type="image/png" />


<!--  Images for the Twitter Card should be at least 280px in width, and at least 150px in height. Image must be less than 1MB in size. Ideal is 1,024 x 512 -->
<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/hover/hover.min.css" rel="stylesheet">
  <link href="/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

 
 <link href="/css/main.css" rel="stylesheet">

<!-- paths need to be absolute -->

</head>

<body>
    <nav id="main-nav">
        <div class="row">
          <div class="container">

            <div class="logo">
              <a href="/"><img src="assets/images/logo.png" alt="logo"></a>
            </div>

            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

              <ul class="nav-menu list-unstyled">
                    <li><a href="/" class="smoothScroll">WORK</a></li>
                    <li><a href="/about" class="smoothScroll">ABOUT</a></li>
                    <li><a href="/contact" class="smoothScroll">CONTACT</a></li>
                    <li><a href="/admin" class="smoothScroll">ADMIN</a></li>

            </ul>

          </div>
        </div>
      </nav><!-- End Navbar -->

<main id="main">
   

    <!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>Hello, <br/> I'm Jessie</h2>

      <p>I'm a marketing professional with full-stack web develpoment skills, who's passionate about telling thoughtful story with the combination of design, business and marketing. </p>
        </div>


      <div id="about" class="paddsection">
        <div class="container">
          <div class="row justify-content-between">

            <div class="col-lg-4 ">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="assets/images/square.jpg" class="img-responsive" alt="me">
                </div>
              </div>
            </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="separator"> I am a a creative <strong> DEVELOPER  </strong>with strong logic thinking and problem solving skills. </p> 
              <p>A detail-oriented <strong> DESIGNER </strong> specialing in interaction, visual design and prototyping.  </p>
              <p> A goal-oriented <strong>MARKETER </strong>. I have 7+ yearks of marketing experience in delivering substantila and measurable value. Skilled in planning and executing marketing programs to drive sale, increase brand awarenss and acquire new customers. </p>
              <p> A <strong>PROBLEM SOLVER </strong>,who specialize in solving highly complex problems with research and analytical skills. I tend to start projects with discovery, research and a results-driven strategy.</p>
             
              <p> My marketing background gives me a serious advantage in connecting the dots between real business goals,technical constraints and user satisfaction, while creating better digital experince for PEOPLE. </p>
                   
                         
          

      </div>
    </section><!-- End About Section -->

       

  </main><!-- End #main -->


      <!-- ======= Footer ======= -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/jessiejessielu/" target="_blank"><i class="ion-social-facebook"></i></a></li>
            <li><a href="https://twitter.com/jessiejielu" target="_blank"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
            <li><a href="https://www.linkedin.com/in/jessie-lu-9581992a/" target="_blank"><i class="ion-social-linkedin"></i></a></li>

        </ul>

      </div>

      <p>Jessie Lu&copy; Copyrights-2021. All rights reserved.</p>

    </div>
  </div><!-- End Footer -->

      <!-- Vendor JS Files -->
         <script src="/assets/vendor/jquery/jquery.min.js"></script>
         <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
         <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
         <script src="/assets/vendor/php-email-form/validate.js"></script>
         <script src="/assets/vendor/typed/typed.js"></script>
         <script src="/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
         <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
         <script src="/assets/vendor/venobox/venobox.min.js"></script>
         <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
         <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
         <script src="/assets/vendor/counterup/counterup.min.js"></script>
         <script src="/assets/vendor/typed.js/typed.min.js"></script>
         <script src="/assets/vendor/aos/aos.js"></script>

 <!-- Template Main JS File -->
 <script src="/js/custom.js"></script>

</body>

</html>
