<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Jessie Lu - Portfolio</title>

<!-- Favicons -->

<link rel="icon" href="/assets/logo.png" type="image/png" />


<!--  Images for the Twitter Card should be at least 280px in width, and at least 150px in height. Image must be less than 1MB in size. Ideal is 1,024 x 512 -->
<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/hover/hover.min.css" rel="stylesheet">
  <link href="/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">


 <link href="/css/main.css" rel="stylesheet">

<!-- paths need to be absolute -->

</head>

<body>
    <nav id="main-nav">
        <div class="row">
          <div class="container">

            <div class="logo">
              <a href="/"><img src="assets/images/logo.png" alt="logo"></a>
            </div>

            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

              <ul class="nav-menu list-unstyled">
                    <li><a href="/" class="smoothScroll">WORK</a></li>
                    <li><a href="/about" class="smoothScroll">ABOUT</a></li>
                    <li><a href="/contact" class="smoothScroll">CONTACT</a></li>
                    <li><a href="/admin" class="smoothScroll">ADMIN</a></li>

            </ul>

          </div>
        </div>
      </nav><!-- End Navbar -->

<main id="main">

    <section class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="/assets/images/Chargeshare2.jpg" class="img-fluid" alt="">
            <img src="/assets/images/Chargeshare3.jpg" class="img-fluid" alt="">
            <img src="/assets/images/Chargeshare4.jpg" class="img-fluid" alt="">
          </div>

          <div class="portfolio-info">
            <h3>ChargerShare®</h3>
            <ul>
              <li><strong>Category</strong>: UX | Research | Web_Dev </li>
              <li><strong>Technologies</strong>: HTML, JavaScript, CSS, PHP/SQL</li>
              <li><strong>Project Data:</strong>: 15 Dev 2020</li>
              <li><strong>Github: </strong><a href="https://github.com/jessiejessielu/ChargerShare"> Source Code</a></li>
            </ul>
          </div>

        </div>

    </section><!-- End Portfolio Details Section -->



    <!-- ======= About Section ======= -->
    <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                        <h2>Project Overview</h2>
                        <p><strong>"Global sales of EVs reached 2.1million in 2019 represent a 6% growth from the previous year.
                            Only about 17000 electric cars were on the world’s roads in 2010, that number had increased to 7.2 million by 2019.
                            Bloomberg New Energy Finance expects by 2020 there would be 116 millions EVs on the road. - Canada Energy Regulator </strong>" </p>

                        <p>ChargerShare® is a web application which addresses the need for more wide spread charging networks
                            by connecting individuals who are willing to loan their parking spot and electric outlet to EV owners for the duration of a charge cycle. </p>
                        <p>It allows EV drivers to search and book these community charging stations that are maintained / added by individuals or businesses within the app’s ecosystem.
                            While those maintaining a community charge point can be anyone within the app’s community of EV drivers, any individuals or businesses who are willing to loan their electric outlet(s) and their parking space(s).</p>
                             
                </div>



                <div id="about" class="paddsection">
                    <div class="container">
                        <div class="row justify-content-between">

                            <div class="col-lg-4 ">
                                    <div class="div-img-bg">
                                        <div class="about-img"><img src="/assets/images/chargesharesmall.jpg" class="img-responsive" alt="me"></div>
                                    </div>
                            </div>

                            <div class="col-lg-7">
                                <div class="about-descr">
                                    <p class="p-heading">MY ROLES</p>
                                    <p class="separator"> I worked as Full-Stack Developer in collaboration with Rigun K.G., Product Designer. My main responsibiiliteis involved - conducting user research, competitive analysis, creating user flows, Info hierarchy, and wireframes, and Programming & Coding . </p>
                                    <p class="p-heading">TECHNOLOGIES</p>
                                    <p class="separator"> </p>
                                        <ul>
                                            <li >PHP/SQL: Dynamic Search Query & Filter, Database Interaction</li><br/>
                                            <li >CPanel/PhpMyAdmin: User & Wine Databbase Management</li><br/>
                                            <li >HTML/CSS: Structure, Layout & Animation Design</li><br/>
                                            <li >jQuery: Appointment Scheduleing and Calendar Interaction </li><br/>
                                            

                                        </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="section-title">
                        <h2>Project Goals</h2>                       
                        <p>To design a mobile browser-based web application to connect charge providers and EV users that aims for clarity, 
                          user confidence and simplicity. The App should be able to locate all the charging sites and enable to search and book daily/weekly/monthly charging slots.</p>
                </div>
                <div class="section-title">
                        <h2>Main Features</h2>   

                                        <ul>
                                            <li >It lists all recommended locations of community charge points by integrating with Google Map, so that Users can find these charging points in a mapping system.</li><br/>
                                            <li >It provides an online scheduling system with a booking calendar, where a user can pre-book a charging point according to the available date, time, duration etc.</li><br/>
                                            <li >It allows users to share their personal charging points to be the listed among the community providers.</li><br/>
                                            <li> It allows filters show only relevant stations, so that users can quickly and easily obtain appropriate stations. </li>

                                        </ul>
                         
                         
                                
                </div>                 
                

                <div class="section-title">
                        <h2>Target User Research</h2>                       
                        <p>Through user serverys, I identified ChargerShare's users are from young tech savvy EV drivers to elderly home owners who might not have much exposure to sophisticated mobile UI operations. Therefore, the app should aim to accommodate all these individual by not only simplifying its operations but also utilising familiar controls with other most commonly used apps among these demographics.</p>
                        <div class="row justify-content-end">
                          <div class="container">
                                  <div class="row">
                                        <div class="col-md-4" >
                                            <div class="card mb-4"> <img src="/assets/images/driver.jpg" class="img-responsive" /> </div>  
                                            <p><strong> ELECTRIC VEHICLE DRIVERS</strong></p>   
                                            <p>They could range from tech savvy individuals who wish to stand out of the crowd to treehuggers. </p>    
                                         
                                        </div>

                                        <div class="col-md-4" >
                                            <div class="card mb-4"><img src="/assets/images/provider.jpg" class="img-responsive"></div>
                                            <p><strong> CHARGE PROVIDERS</strong></p>   
                                            <p>They could be any individuals, small or larger business owners who wish to make additional income by loaning their charging points. </p>  
                                       </div>  
                                  </div>                          
                          </div>
                        </div>                                 
                </div>

                <div class="section-title">
                        <h2>Competitive Research</h2>                       
                        <p> I researched existing competition for ChargerShare to understand the landscape in which I was designing & developing.</p>                        
                        <p>ChargerShare's main competition in Canada was PlugShare. There are few other mapping systems such as Google Maps, Chargehub.com, Tesla Supercharging Network .However, these
                        services don’t allow users to share their home chargers to other individuals. </p>                             
                </div>

                <div class="section-title">
                        <h2>Market Analysis</h2>                       
                        <p> A SWOT analysis was conducted to identify and analyze the internal and external factors.</p>  
                        <div class="card mb-4"><img src="/assets/images/swot.jpg" class="img-responsive"></div>                      
                                                    
                </div>
                <div class="section-title">
                        <h2>Initial Sketches</h2>  
                        <div class="about-descr">
                              <p class="p-heading">User Flows</p>            
                      
                              <div class="card mb-4"><img src="/assets/images/sketch.jpg" class="img-responsive"></div>   

                              <p class="p-heading">Color Palette</p>  
                              <div class="card mb-4"><img src="/assets/images/moodboard.png" class="img-responsive"></div>  
                              <p class="p-heading">Prototype</p>  
                              <div class="card mb-4"><img src="/assets/images/prototype.jpg" class="img-responsive"></div>  
                        </div>                  
                                                    
                </div>

            </div>
    </section><!-- End About Section -->





  </main><!-- End #main -->


      <!-- ======= Footer ======= -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/jessiejessielu/" target="_blank"><i class="ion-social-facebook"></i></a></li>
            <li><a href="https://twitter.com/jessiejielu" target="_blank"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
            <li><a href="https://www.linkedin.com/in/jessie-lu-9581992a/" target="_blank"><i class="ion-social-linkedin"></i></a></li>

        </ul>

      </div>

      <p>Jessie Lu&copy; Copyrights-2021. All rights reserved.</p>

    </div>
  </div><!-- End Footer -->

      <!-- Vendor JS Files -->
         <script src="/assets/vendor/jquery/jquery.min.js"></script>
         <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
         <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
         <script src="/assets/vendor/php-email-form/validate.js"></script>
         <script src="/assets/vendor/typed/typed.js"></script>
         <script src="/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
         <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
         <script src="/assets/vendor/venobox/venobox.min.js"></script>
         <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
         <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
         <script src="/assets/vendor/counterup/counterup.min.js"></script>
         <script src="/assets/vendor/typed.js/typed.min.js"></script>
         <script src="/assets/vendor/aos/aos.js"></script>

 <!-- Template Main JS File -->
 <script src="/js/custom.js"></script>

</body>

</html>
